node_modules
.env
coverage
coverage.json
typechain
typechain-types
build

# Hardhat files
cache
artifacts

# OS
.DS_Store

# IDEs and editors
/.idea
.c9/
.settings/
.project
.classpath
*.launch
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

